<app-header></app-header>
<div class="container p-2">
<h4 class="border-bottom border-success p-2">Admin Dashboard</h4>
<div class="row">
    <div class="col-sm-3">
        <div class="card shadow bg-success text-white text-right">
            <div class="card-body">
                <h5>Products</h5>
                <h6>{{data.products}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow bg-danger text-white text-right">
            <div class="card-body">
                <h5>Customers</h5>
                <h6>{{data.customers}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow bg-warning text-white text-right">
            <div class="card-body">
                <h5>Orders</h5>
                <h6>{{data.orders}}</h6>
            </div>
        </div>
    </div>
    
</div>
</div>
